body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
table{
	width: 600px;
}
th, td{
	padding: 17px;
}
th{
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;
}
td:hover{
	color: pink;
	background: blanchedalmond;
}
th:hover{
	color: white;
	background: black;
}
tr.alternado{
	background: #efefef;
}
tr.alternado:hover{
	color: purple;
	background: seagreen;
}
.price{
	text-align: right;
}
.produto{
	text-align: center;
}
